<div class="top-bar">
    <!--Home Button-->
    <div class="menu-button">
        <button class="main-font home-link-text">SolidBowel 2.0</button>
    </div>
    <div>
        <p class="menu-button access-button">{{ name }}</p>
    </div>
    <div>
        <p class="menu-button access-button">{{ server }}</p>
    </div>
    <!--Log-in for User-->
    <div class="last-item menu-button access-button">
        <button class="menu-button access-button last-item" (click)="login()">Log-in</button>
    </div>
</div>