.container{
    width: 100%;
    background-color: rgba(46, 137, 168, 0.3);
    margin: 10px;
    border: 5px black !important;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#submitNewCategory {
    margin-left: 50px;
}